body
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #333;
    color: #ccc;
}


header 
{
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

header div 
{
    margin-bottom: 10px;
}

label 
{
    font-size: 16px;
    font-weight: bold;
}

input[type="text"] 
{
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px;
}

button:hover {
    background-color: #f79800;
    transform: scale(1.05);
}

button:active {
    background-color: #ff5e00;
    transform: scale(0.95);
}

#scoreboard {
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(183, 182, 182, 0.2);
}

#scoreboard p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

#scoreboard span {
    color: #4CAF50; /* Verde para a pontuação do jogador */
}

#scoreboard span.computer {
    color: #2196F3; /* Azul para a pontuação do computador */
}
