body
{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


button {
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 30px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    margin: 10px 10px;/
}


button:hover {
    background-color: #f79800; 
    transform: scale(1.05); 
}


button:active {
    background-color: #ff5e00; 
    transform: scale(0.95); 
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}